/*Globale Styles*/
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Slab", serif;
    height: 100%;                     /* Höhe: 100% des Viewports (Browserfenster) */
    width: 100%;                     /* Höhe: 100% des Viewports (Browserfenster) */
    display: flex;                     /* Flexbox aktivieren */
    justify-content: center;          /* Horizontal zentrieren */
    align-items: center;              /* Vertikal zentrieren */
}

#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    z-index: 0;
}

.card {
    z-index: 1;
    position: relative;
    width: 70%;                  
    height: 75%;

    backdrop-filter: blur(2px);         /* Der Hintergrund wird hinter der Box weichgezeichnet (Glas-Effekt) */
    -webkit-backdrop-filter: blur(2px); /* Für Safari */
    padding: 2rem 4rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
   /* border: 1px solid rgba(255, 255, 255);*/
    box-shadow: 5px 5px 20px rgba(100, 83, 94, 0.3); 
    color: rgba(0, 0, 0, 0.7);
}

.button {
    background: rgba(255, 255, 255, 0.2);        /* Weiße Fläche */
    border-radius: 12px;      /* Sanfte Ecken */
    padding: .5rem 1.5rem;            /* Innenabstand */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* Weicher Schatten */
    cursor: pointer;          /* Zeigt Hand-Cursor beim Hover */
    font-size: 1.3rem;
    text-align: center;
    transition: transform 0.2s ease;  /* Animation beim Hover */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

}

.button:hover {
    background-color: rgb(241, 233, 237, 0.2);
}

.button:active {
  background: rgba(255, 255, 255, 0.2); 
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

hr.divider {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

/*Header*/
.info h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}
.info p {
    margin: 0.8rem 0 0 0;     /* Oben etwas Abstand zum Namen */
    font-size: 1.3rem;
    text-align: center;
}

.button img {
  width: 2rem;
}

/*Navigation*/
nav {
    display: flex;
    font-size: 1.3rem;
    margin: 1rem 0;
    justify-content: space-between;
}

.right {
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    text-underline-offset: 4px;  
}


nav a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgba(74, 74, 74, 0.7);
    text-decoration-thickness: 1px; /* Dünner Unterstrich */
}

#aboutMe {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-color: rgba(74, 74, 74, 0.7);
    text-decoration-thickness: 1px; /* Dünner Unterstrich */
}

/*Inhalt*/
img.logo {
    height: 3rem;
    width: 3rem;
    opacity: .5;
}

.data {
    display: flex;
    justify-content: space-between;
}

.dataLeft {
    display: flex;
    gap: 2rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}